@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");

$bgcolor: #0f1014;
$fgcolor: #fff;

$card-bg-clr: #1a1c24;
$card-border-clr: #2f3242;

body,
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
  color: $fgcolor;
  min-height: 100vh;
}

#root,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  gap: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  background-color: $bgcolor;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card {
  background-color: $card-bg-clr;
  border: 1px solid $card-border-clr;
  border-radius: 10px;
  width: 35vw;
  padding: 2rem;
}

.avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    object-fit: cover;
  }
}

.desc {
  opacity: 60%;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-col {
  flex-direction: column;
}

.icon-label {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.line {
  height: 1px;
  width: 100%;
  background-color: $card-border-clr;
  margin: 6px 0;
}

.history-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid $card-border-clr;
  border-radius: 7px;
  height: 20vh;
  overflow-y: scroll;
  padding: 15px;

  .chat-container {
    display: flex;
    gap: 0.8rem;
  }
}

.input-container {
  display: flex;
  border: 1px solid $card-border-clr;
  border-radius: 7px;

  input {
    color: $fgcolor;
    width: 100%;
    padding: 10px 0 10px 15px;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: transparent;
    border: none;
    font-size: 16px;
    outline: none;
  }

  button {
    cursor: pointer;
    background: transparent;
    border: 1px solid transparent;
    outline: none;
    margin: 0 15px;

    i {
      font-size: 18px;
      color: white;
    }
  }
}
